body {
  background: linear-gradient(135deg, #000000 2%,#11877e 69%);
}

.QuestionButton {
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
  position:fixed;
  top:70%;
  left:31%;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:20px;
  height: 8vh;
  width: 18.3vw;
	text-decoration:none;
	text-shadow:0px -1px 8px #2f6627;
}
.QuestionButton:hover {
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color:#5cbf2a;
}
.QuestionButton:active {
	position:fixed;
	top:70%;
}



.logo-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;

}

.logo {
  max-width: 20%;
  height:auto;
  max-height: 40vh;;
}

.input-text {
  padding: 5px;
  font-size: 20px;
  text-align: center;
  background-color: rgba(0,0,0,0);
  border:2px solid #18ab29;
  color: #ffffff;
  position:fixed;
  top:70%;
  left:51%;
  height: 8vh;
  width: 18.3vw;
  border-style: solid;
  border-radius: 28px;
}

.input-text::placeholder {
  color:#ffffff;
}

.output-text {
  text-align: left;
  background-color: rgba(0,0,0,0);
  border:2px solid #18ab29;
  border-radius: 10px;
  color: #ffffff;
  display: block;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  position:fixed;
  top:35%;
  left:35%;
  height: 30vh;
  width: 30vw;
  overflow-wrap: break-word;
  overflow: overlay;
  box-sizing: border-box;
}

.InfoButton {
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
  position: fixed;
  top: 80px;
  left: 65%;
}

.nfo {
  width: 0px;
  transition: .3s;
  opacity: 0;
}

button:hover .nfo {
  width: 20px;
  transition: .3s;
  opacity: 1;
}

.InfoButton:hover {
  width: 90px;
  transition: .3s;
}

.info-menu {
  position: absolute;
  top: 50px; /* Регулируем расстояние от кнопки до меню */
  background-color: #ffffff;
  border: 1px solid #cccccc;
  padding: 10px;
  z-index: 999; /* Чтобы меню находилось выше других элементов */
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.info-menu.active {
  opacity: 1; /* Показываем меню с плавной анимацией */
}

  

.output-text::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0,0,0,0);
}

.output-text::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background:linear-gradient(#44c767 5%, #5cbf2a 100%);
}

.output-text::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
  border-radius: 10px;
  background-color: rgba(0,0,0,0);
}
